<div class="modal fade" id="new_problem_modal" tabindex="-1" role="dialog" aria-labelledby="newProblemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProblemModalLabel">New Problem: topic?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new_problem_form" action="{{ url_for('new_problem') }}" method="POST">
                    <div class="form-group">
                        <label for="searchPrerequisite">Search Topic</label>
                        <input type="text" class="form-control" id="searchTopic" name="searchTopic">
                    </div>
                    <div class="form-group">
                        <label for="topicList">Available topics</label>
                        <select class="form-control" id="topicList" name="topic_id">
                            <option value="" disabled>Select Topic</option>
                            {% for topic in topics %}
                            <option value="{{ topic.id }}">{{ topic.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="new_problem_button">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>